[user]
	name = ysuz443
	email = 102312063+ysuz032@users.noreply.github.com.
	signingkey = 4B07DC20AF75326F!
[core]
	autocrlf = false
	ignorecase = false
	quotepath = false
	safecrlf = true
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential "https://git-codecommit.ap-northeast-1.amazonaws.com"]
	provider = generic
[commit]
	gpgsign = true
[init]
	templatedir = ~/.git-templates/git-secrets
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[alias]
	plog = log --date=format:\"%Y-%m-%d %H:%M:%S\" --format=\"%C(yellow)%h%Creset %C(cyan)%ad%Creset %C(blue)%an%Creset %s %C(auto)%d\"
[include]
	path = ~/.gitconfig.local
